<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="/">Jesse Harrah</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" 
		aria-controls="navbar-list" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-end" id="navbar-list">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/">About Me</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/portfolio">Portfolio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contact">Contact</a>
			</li>
		</ul>
	</div>
</nav>
{{!-- <span class="sr-only">(current)</span>  - For Active Link - class='active' --}}